<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender para logs do REST Service -->
    <appender name="REST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/rest/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/rest/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para logs do Calculator Service -->
    <appender name="CALC_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/calculator/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/calculator/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração de logging -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="REST_FILE"/>
        <appender-ref ref="CALC_FILE"/>
    </root>

</configuration>
